{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="albums-detail-container container">
  {% if albums %}
  <h2>{{ albums.title }} (by: {{ albums.user.username }})</h2>
  <p>{{ albums.description }}</p>

  <div class="detail-cover">
    {% if albums.cover %}
      {% thumbnail albums.cover.image "x250" crop="center" as im %}
      <img src="{{ im.url }}" alt="albums.title">
      {% endthumbnail %}
      <p>{{ albums.description }}</p>
      <p>{% trans "Date Uploaded" %}: {{ albums.date_created }}</p>
      <p>{% trans "Description" %}: {{ albums.description }}</p>
      <button><a href="{% url 'albums_edit' pk=albums.id %}">Edit Album</a></button>
      {% else %}
      <p>No Cover Photo</p>
      {% endif %}
  </div>
    <div class="detail-albums">
      {% for photo in albums.photos.all %}
        <span class="photo-thumb" style="display: inline-block;">
          {% thumbnail photo.image "x150" crop="center" as im %}
          <img src="{{ im.url }}" alt="photo.title">
          <p>{{ photo.description }}</p>
          {% endthumbnail %}
        </span>
      {% endfor %}
    </div>
  {% else %}
  <h2>Keyboard Driver Error.</h2>
  {% endif %}
</div>
{% endblock content %}
