{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<section class="profile-container container">
  {% if user.first_name %}
  <h3>{{ user.username }}</h3>
  {% endif %}

  <h2>You're viewing public albums</h2>

  <section class="profile-info">
    <h2>Album Information</h2>
    {% if albums %}
    {% for collection in albums %}

    <fieldset>
      <legend>{{ collection.title }}</legend>
      {% thumbnail collection.cover.image "300x200" as image %}
      <a href="{% url 'albums_view_detail' pk=collection.id %}">
          <img src="{{image.url}}">
      </a>
      {% endthumbnail %}
    </fieldset>
    <p>{% trans "Description" %}: {{ collection.description }}</p>
    {% endfor %}
    {% endif %}
  </section>

</section>
{% else %}
<h1>{% trans "Please log into the site" %}</h1>
{% endif %}
{% endblock content %}
