{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<section class="profile-container container">
  {% if user.first_name %}
  <h3>{{ user.username }}</h3>
  {% endif %}

  <h2>You're viewing public albums</h2>

  <section class="profile-info">
    <h2>Album Information</h2>
    {% if user.albums %}
    {% for al in user.albums.all %}
    <p>{% trans "Albums title" %}: {{ profile.user.title }}</p>
    {% thumbnail albums.cover "x250" as im %}
    <img src="{{ im.url }}">
    {% endthumbnail %}
    <p>{% trans "Description" %}: {{ albums.description }}</p>
    {% endfor %}
    {% endif %}
  </section>

</section>
{% else %}
<h1>{% trans "Please log into the site" %}</h1>
{% endif %}
{% endblock content %}
