{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<section class="profile-container container">
  {% if user.first_name %}
  <h3>{{ user.username }}</h3>
  {% endif %}

  <h2>You're viewing the library for {{ user.username }}</h2>

  <section class="profile-info">
    <h2>Library Information</h2>
    {% if user.username %}
    <button><a href="{% url 'albums_create' %}">Add Album</a></button>
    <button><a href="{% url 'photo_create' %}">Add Photo</a></button>

    {% if photo %}
    {% for picture in photo %}
    {% thumbnail picture.image "x200" as image %}
        <img src "{{ image.url }}">
    {% endthumbnail %}
    {% endfor %}
    {% endif %}

    {% endif %}
  </section>


</section>
{% else %}
<h1>{% trans "Please log into the site" %}</h1>
{% endif %}
{% endblock content %}
