{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<section class="profile-container container">
  {% if user.first_name %}
  <h3>{{ user.username }}</h3>
  {% endif %}

  <h2>You are viewing public photos</h2>

  <section class="profile-info">
    <h2>Phtoto Information</h2>

    {% for pic in photo %}
    <a href="{% url "photo_view_detail" pk=pic.id %}">

      <p>{% trans "Photos Title" %}: {{ pic.title }}</p>
      {% thumbnail pic.image "x200" as im %}
      <img src="{{ im.url }}">
      {% endthumbnail %}
      <p>{% trans "Date Uploaded" %}: {{ pic.date_uploaded }}</p>
      <p>{% trans "Description" %}: {{ pic.description }}</p>
    </a>
    {% endfor %}



  </section>

{% endif %}

</section>
{% endblock content %}
