{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<section class="profile-container container">
  {% if user.first_name %}
  <h3>{{ user.username }}</h3>
  {% endif %}

  <h2>You are viewing public photos</h2>

  <section class="profile-info">
    <h2>Phtoto Information</h2>
    {% if user.photos %}
    {% for photo in user.photos.all %}
    <p>{% trans "Photos Title" %}: {{ photo.title }}</p>
    {% thumbnail photo.image "x200" as im %}    
    <img src="{{ im.url }}">
    {% endthumbnail %}
    <p>{% trans "Date Uploaded" %}: {{ photo.date_uploaded }}</p>
    <p>{% trans "Description" %}: {{ photo.description }}</p>
    {% endfor %}

    {% else %}
    <img src="{% static 'flowers.jpg' %}" alt="Flowers"/>

  </section>
  {% endif %}
  {% endif %}

</section>
{% endblock content %}
