{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<section class="profile-container container">
  {% if user.first_name %}
  <h3>{{ user.username }}</h3>
  {% endif %}

  <h2>You're viewing the photos for {{ profile.user.username }}</h2>

  <section class="profile-info">
    <h2>Phtoto Information</h2>
    {% if profile.user.username == user.username %}
    {% comment %}
    <a href="{% url "settings" username=user.username %}">{% trans "Edit Profile" %}</a>
    {% endcomment %}
    {% if Photo %}
    {% for product in Photo %}
    <p>{% trans "Photos Title" %}: {{ profile.user.title }}</p>
    <p>{% trans "Photo" %}: {{ profile.user.image }}</p>
    <p>{% trans "Date Uploaded" %}: {{ profile.user.date_uploaded }}</p>
    <p>{% trans "Description" %}: {{ profile.user.description }}</p>
    {% endfor %}

    {% else %}
    <img src="{% static 'flowers.jpg' %}" atl="Flowers"/>

    {% endif %}
  </section>
  {% endif %}
  {% endif %}

</section>
{% endblock content %}
