{% extends "generic/base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}

<div class="photo-detail-container container">
  {% if photo %}
  <h2>{{ photo.title }} (by: {{ photo.user.username }})</h2>
  <p>{{ photo.description }}</p>

  <div class="detail-photos">

    <span class="photo-thumb" style="display: inline-block;">
      {% thumbnail photo.image "150x150" crop="center" as im %}
      <img src="{{ im.url }}" alt="{{ photo.title }}">
      <p>{{ photo.description }}</p>
      {% endthumbnail %}
      </span>
      <p>{% trans "Date Uploaded" %}: {{ photo.date_uploaded }}</p>
      <p>{% trans "Description" %}: {{ photo.description }}</p>
 
  </div>

  {% else %}
  <h2>Keyboard Driver Error.</h2>
  {% endif %}
</div>

{% endblock content %}
